<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mybatis.mapper.PersonneMapper">

    <insert id="insert" parameterType="org.example.mybatis.model.Personne">
        INSERT INTO PERSONNES (
        NOM_PERSONNE,
        PRENOM_PERSONNE,
        DATE_NAISSANCE
        ) VALUES (
        #{nomPersonne},
        #{prenomPersonne},
        #{dateNaissance}
        )
    </insert>

    <select id="findByNom" parameterType="string" resultType="org.example.mybatis.model.Personne">
        SELECT
        ID AS id,
        NOM_PERSONNE AS nomPersonne,
        PRENOM_PERSONNE AS prenomPersonne,
        DATE_NAISSANCE AS dateNaissance
        FROM PERSONNES
        WHERE NOM_PERSONNE = #{nom} <!-- protection automatique contre SQL injection -->
    </select>

</mapper>
