<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:/Users/thomazjr_tech/Projects/studies/Java/jdbc/appdb"/>
                <!-- value="jdbc:h2:/Users/thomazjr_tech/Projects/studies/Java/jdbc/appdb;TRACE_LEVEL_SYSTEM_OUT=3"/> -->

                <property name="username" value="sa"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/example/mybatis/mapper/PersonneMapper.xml"/>
        <mapper resource="org/example/mybatis/mapper/DatabaseMapper.xml"/>
    </mappers>

</configuration>
